.header {
    padding: 0.5rem 1rem;
    background-color: #181818;
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.btns {
    border-radius: 10rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

.loginBtn {
    background-color: #6b6b6b;
    color: whitesmoke;
}
